<!--HEADER START-->
<header>
  <div class="top-strip">
    <div class="container">
      <div class="site-info">
        <ul>
          <li><a href="mailto:Info@bookguide.com"><i class="fa fa-envelope-o"></i>Info@bookguide.com</a></li>
          <li><a href="#"><i class="fa fa-heart"></i></a></li>
          <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
          <li><a href="#"><i class="fa fa-search"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
  <!--Search Overlay Box Starts -->
  <div id="kode_search_box" class="kode_search_box">
    <form class="kode_search_box-form">
      <input class="kode_search_box-input" type="search" placeholder="Search..."/>
      <button class="kode_search_box-submit" type="submit">Search</button>
    </form>
    <span class="kode_search_box-close"></span>
  </div><!-- /kode_search_box -->
  <div class="overlay"></div>
  <div class="logo-container">
    <div class="container">
      <!--LOGO START-->
      <div class="logo">
        <a href="/"><%= image_tag "logo.png" %></a>
      </div>
      <!--LOGO END-->
      <div class="kode-navigation">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Wish list', wishlist_path %></li>
          <% if user_signed_in? %>
              <li> <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
              <li> <%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>

          <!--<li><a href="blog.html">Our Blog</a>-->
            <!--<ul>-->
              <!--<li><a href="blog.html">Blog</a></li>-->
              <!--<li><a href="blog-full.html">Blog Full</a></li>-->
              <!--<li><a href="blog-detail.html">Blog Detail</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li class="last"><a href="authors.html">Teams</a>-->
            <!--<ul>-->
              <!--<li><a href="authors.html">Author</a></li>-->
              <!--<li><a href="author-detail.html">Author Detail</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li><a href="book-listing.html">Products</a>-->
            <!--<ul>-->
              <!--<li><a href="book-listing.html">Products Style 1</a></li>-->
              <!--<li><a href="book-listing-1.html">Products Style 2</a></li>-->
              <!--<li><a href="book-listing-2.html">Products Style 3</a></li>-->
              <!--<li><a href="book-listing-1-w-sidebar.html">Product 2 W/S</a></li>-->
              <!--<li><a href="book-listing-2-w-sidebar.html">Product 3 W/S</a></li>-->
              <!--<li><a href="book-detail.html">Product Detail</a></li>-->
            <!--</ul>-->
          <!--</li>-->
          <!--<li class="last"><a href="contact-us.html">Contact Us</a></li>-->
        </ul>
      </div>
      <div id="kode-responsive-navigation" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="about-us.html">About Us</a></li>
          <li class="menu-item kode-parent-menu"><a href="blog.html">Our Blog</a>
            <ul class="dl-submenu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-full.html">Blog Full</a></li>
              <li><a href="blog-detail.html">Blog Detail</a></li>
            </ul>
          </li>
          <li class="menu-item kode-parent-menu last"><a href="authors.html">Teams</a>
            <ul class="dl-submenu">
              <li><a href="authors.html">Author</a></li>
              <li><a href="author-detail.html">Author Detail</a></li>
            </ul>
          </li>
          <li class="menu-item kode-parent-menu last"><a href="book-listing.html">Products</a>
            <ul class="dl-submenu">
              <li><a href="book-listing.html">Products Style 1</a></li>
              <li><a href="book-listing-1.html">Products Style 2</a></li>
              <li><a href="book-listing-2.html">Products Style 3</a></li>
              <li><a href="book-listing-1-w-sidebar.html">Product 2 W/S</a></li>
              <li><a href="book-listing-2-w-sidebar.html">Product 3 W/S</a></li>
              <li><a href="book-detail.html">Product Detail</a></li>
            </ul>
          </li>
          <li class="last"><a href="contact-us.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--HEADER END-->