<ul class="bxslider">
  <li class="">
    <!--<div class="col-md-1" style="width: 6%;"></div>-->
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_75', class: 'img img-responsive', style: 'max-width: 38%' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_71', class: 'img img-responsive', style: 'max-width: 28%' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_14', class: 'img img-responsive', style: 'max-width: 28%' %>
  </li>

  <li class="">
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_75', class: 'img img-responsive', style: 'max-width: 38%' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_71', class: 'img img-responsive', style: 'max-width: 28%' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_14', class: 'img img-responsive', style: 'max-width: 28%' %>
  </li>
</ul>