<ul class="bxslider">
  <li>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_75', class: 'img img-responsive' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_71', class: 'img img-responsive' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_14', class: 'img img-responsive' %>
  </li>

  <li>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_75', class: 'img img-responsive' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_71', class: 'img img-responsive' %>
    <%= image_tag 'http://tea-3.lozi.vn/v1/statics/original/banner_web_14', class: 'img img-responsive' %>
  </li>
</ul>