<div class="row">
  <%= form_tag root_path do %>
      <div class="col-md-3">
        <%= select_tag 'month',
                       options_for_select(
                               select_options_for_months(months_of_year Time.now.year).prepend(['All', 0]),
                               session[:wl_month]
                       ),
                       class: 'form-control' %>
      </div>

      <!-- For now I just allow user to choose current year -->
      <div class="col-md-3">
        <%= select_tag 'year', options_for_select([[Time.now.year, Time.now.year]]), class: 'form-control'%>
      </div>

      <%= submit_tag 'Get', class: 'btn btn-default' %>
  <% end %>
</div>

<div class="row" style="height: 50px"></div>

<% if params[:month] && params[:year] %>
    <div class="col-md-4">
        <% if @incomes_chart %>
            <%= high_chart("incomes-dashboard", @incomes_chart) %>
        <% else %>
            <div class="text-danger"> No income for this month </div>
        <% end %>
    </div>

    <div class="col-md-4">
      <% if @costs_chart %>
          <%= high_chart("costs-dashboard", @costs_chart) %>
      <% else %>
          <div class="text-danger"> No cost in this month </div>
      <% end %>
    </div>

    <div class="col-md-4">
      <% if @categories_chart %>
          <%= high_chart("categories-dashboard", @categories_chart) %>
      <% else %>
          <div class="text-danger"> No data for category in this month </div>
      <% end %>
    </div>
<% else %>
    <%= high_chart("dashboard", @chart) %>
<% end %>


<script>
    $(document).ready(function(){
        (function() {
            "use strict";
            if (window.location && window.location.hash) {
                if (window.location.hash === '#_=_') {
                    window.location.hash = '';
                    history.pushState('', document.title, window.location.pathname); // nice and clean
                }
            }
        }());
    });
</script>