<div id="restaurant-container">
    <div id="restaurant-banner">
    </div>

    <div id="restaurant-info">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
                <%= image_tag (@restaurant.image ? @restaurant.image : 'sample-restaurant-img.jpg'), class: 'img img-rounded img-responsive restaurant-img-avatar' %>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-8">
                <h2 class="restaurant-name"><%= @restaurant.name %></h2>
              <div class="restaurant-extra-info">
                <p>
                  Techmaster, Star City, Lê Văn Lương, Hà Nội
                </p>
                <p>
                  Open: 18:30 - 21:30
                </p>
                <p>
                  <span class="fa fa-mobile"></span>: 098666888
                </p>
              </div>


            </div>
          </div>
        </div>
    </div>

    <div id="restaurant-relevant" class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="restaurant-comment">
            <div class="row">
                <div class="col-md-10">
                  <div class="like-number">
                    <i class="fa fa-heart"></i>
                  </div>
                  68 người thích cửa hàng này
                </div>


              <div class="col-md-2">
                <% if user_signed_in? %>
                    <button class="btn <%= @is_liked ? 'btn-danger' : 'btn-primary' %>
                    pull-right" id="btn-like"
                            restaurant-id="<%= @restaurant.id %>">
                      <%= @is_liked ? 'Bo Thich' : 'Thich' %>
                    </button>
                <% else %>
                    <%= link_to 'Thich', new_user_session_path, class: 'btn btn-primary' %>
                <% end %>

              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-comments"></i>
                86 bình luận
                <hr>
              </div>

              <div class="col-md-12 restaurant-comments-list">
                  <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
              </div>

              <div class="col-md-12">
                <%= render :partial => 'comments/form', :locals => { :comment => @new_comment, restaurant: @restaurant } %>
              </div>
            </div>
          </div>
        </div>

        <div class="restaurant-images col-md-3">
          <% @checkins.each do |ci| %>
              <% if ci.image.present? %>
                  <div class="col-md-6" style="margin-bottom: 30px;">
                    <%= image_tag ci.image.thumb.url, class: 'img img-responsive' %>
                  </div>
              <% end %>

          <% end %>


          <div class="col-md-6">

          </div>

          <div class="col-md-6">

          </div>

          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
</div>