<div class="col-md-9">
    <div class="row">

      <% @books.each do |book| %>

        <!--PRODUCT GRID START-->
        <div class="col-md-3">
          <div class="books-listing-3">
            <div class="kode-thumb">

              <%= link_to book_path(book) do %>
                <%= image_tag book.image %>
              <% end %>

            </div>
            <div class="kode-text">
              <p class="price">
                <%= number_with_delimiter(book.price, :delimiter => ',') %> VND
                <span><%= number_with_delimiter(book.price*1.2, :delimiter => ',') %> VND</span>
              </p>

              <h3>
                <%= link_to truncate(book.name, length: 12), book_path(book) %>
              </h3>

              <div class="kode-caption">
                <p>
                  <%= truncate(book.about, length: 200) %>
                </p>

                <%= form_tag(books_like_path, remote: true) do %>
                   <%= hidden_field_tag :book_id, book.id %>
                   <a book-id="<%= book.id %>"
                      class="book-like-btn <%= 'like-btn-active' if current_user && current_user.collection && (current_user.collection.books.include? book) %>"
                      style="cursor: pointer;">

                     <i class="fa fa-heart"></i>
                   </a>

                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                    <a href="#"><i class="fa fa-link"></i></a>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <!--PRODUCT GRID END-->

      <% end %>
    </div>
</div>

<!--CONTENT END-->

</div>
<!--WRAPPER END-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->