<!DOCTYPE html>
<html>

<%= render partial: 'shared/head' %>

<%= render partial: 'shared/loader_wrapper' %>


<body>
<!-- WRAPPER START -->
<div class="wrapper">
  <%= render partial: 'shared/devise/header' %>
  <%#= render partial: 'shared/banner' %>

  <!--CONTENT START-->
  <div class="kode-content padding-tb-50">
    <div class="container">
      <div class="row">
        <%#= render partial: 'shared/sidebar' %>
        <%= yield %>
      </div>
    </div>
  </div>

  <%#= render partial: 'shared/news_letter' %>
  <%#= render partial: 'shared/footer' %>
  <%= render partial: 'shared/copy_right' %>
</div>
<!-- WRAPPER END -->
</body>


</html>
